-	@comment = @post.comments.build if @comment.nil?
= form_for [@post, @comment] do |f|
  = f.error_messages
  %p
    = f.text_area :content, :class => :xxlarge, :rows => 5
  %p
    = f.submit :class => :btn
