- title @user.name.humanize, false

%h2 
	Profile page for
	= @user.name.humanize

%h2= "Recent comments by #{@user.name.humanize}"

- for comment in @user.comments.order(:created_at).limit(10)
	%hr
	%p= comment.content