-title "About"

%p 
  WebL is a simple weblog based on Rails 3.2. I made it while learning Ruby on Rails. Currently, the weblog is in usable condition. If you want a copy of your own, feel free to fork this project on GitHub. You're free to use it in any way you desire, and I would appreciate to hear how it ends up!

