- title @post.title, false

.post= render @post, :locals => {:post => @post}
%p= link_to "Back to index", posts_path

- if can? :read, Comment
	- unless @post.comments.empty?
		%h1 Comments:
		- for comment in @post.comments.includes(:user).order("created_at asc") do
			=render comment

- if can? :create, @post.comments.build
	.row
		.span1
			= gravatar_image_tag(current_user.email, :class => :gravatar, :gravatar => {:size => 50})
		.span9
			%strong New Comment:
			= render 'comments/form'
