- title @post.title, false

.post= render @post, :locals => {:post => @post}
%p= link_to "Back to index", posts_path

- if can? :read, Comment
	%h1 Comments:
	- for comment in @post.comments.includes(:user).order("created_at asc") do
		=render comment

- if can? :create, Comment
	%p
		%strong New Comment:
		= render 'comments/form'
