html, body {height: 100%;}

body .wrapper {
	min-height:100%;
	margin-bottom:0;
	margin-top:0;
}

.container.body {
	padding-top:44px;
	padding-bottom: 170px;
}

.footer {
	height: 169px;
	margin-top: -170px;
	margin-bottom: 0px;
	border-top: 1px solid #666;
	background-color: #DDD;
	color: #666;
	h1 {
		color: #444;
		font-size: 14pt;
		margin-bottom:3px;
		border-bottom: 1px solid #999;
	}
	.row {
		margin-bottom: 0;
	}
}

.right {
	float: right;
}

.left {
	float: left;
}

form .error.append-bottom {
	margin-bottom: 25px;
}