.span4
	%h1 Resources
	%p 
		Without which I would never have got this up and running so fast.
		%ul
			%li= link_to "Ruby on Rails", "http://rubyonrails.org"
			%li= link_to "Railscasts", "http://www.railscasts.com", :title => "Easiest way to learn new stuff about Rails"
			%li= link_to "Twitter's Bootstrap", "http://twitter.github.com/bootstrap"
		

.span4
	%h1 GitHub
	%p 
		This source of this Rails application is available on 
		= link_to "GitHub.", "https://github.com/HectorMalot/WebL"
	%p
		Feel free to check it out and take it for a spin.
		
.span4
	%h1 About
	%p 
		I started WebL to learn Ruby on Rails. 
		By now, it has evolved into a basic weblog, which I use to jot down stuff I discover or think of in everyday life.

-# a fourth column can be used if you want.	
-#.span4
-#	%h1 About
-#	%p 
-#		I started WebL to learn Ruby on Rails. 
-#		By now, it has evolved into a basic weblog, which I use to jot down stuff I find or think in everyday life.